

<h2>Create an Author</h2>
<%= form_for @author do |f| %>
  <%= form_errors_for @author %>
  
    <%= f.label :name %>
    <%= f.input  :name %>
 

    <%= f.label :email %> 
    <%= f.input :email  %>

    <%= f.label :phone_number %> 
    <%= f.number_field :phone_number  %>
 
  <%= submit_tag "Create Author" %>
<% end %>
